*{
    padding: 0;
    margin: 0;
}
.pagelogo-container{
    width: 100%;
    height: 50px;
    background-color: rgb(56, 52, 52);
    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom: 1px dotted #837768;

}
.page-logo{
    font-size: 27px;
    margin-left: 18px;
    color: crimson;
}
.pagelogo-font{
    font-size: 19px;
    color: white;
    margin-left: 9px;
}
