.maincontent-center-container{

    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
}
.maincontent-child-flex{
    display: flex;
    justify-content: space-around;
}
.maincontent-center-child{
    width: 71px;
    height: 19px;
    background-color: rgb(56, 52, 52);
    padding: 10px;
    border-radius: 3px;
    color: antiquewhite;
    text-align: center;
}
.padding-right5{
    padding-right: 5px;
}
.main-content-child{
    width: 70px;
    height: 19px;
    background-color: #17a3f5;
    color: white;
    border-radius: 3px;
    text-align: center;
    margin-left: 20px;
    padding: 10px;
}