.sidebar-button-container{
    width: 20%;
    height: 160px;
    background-color: rgb(56, 52, 52);
    color: whitesmoke;
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 10px;
}
.sidebar-button-style{
    width: 230px;
    padding: 10px;
    height: 35px;
    background-color: rgb(75, 68, 68);
    border: none;
    border-radius: 5px;
    margin-left: 20px;
    color: antiquewhite; 
}
