body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.page-display{
  width: 100%;
  height: 100vh;
  background-color: black;

}
.display{
  display: flex;
}

.width20{
  width: 20%;

}
.width25{
  width: 25%;
  margin-right: 40px;
  margin-left: 40px;
  margin-top: 65px;
}
.width50{
  width: 50%;
  margin-top: 65px;
}
.width80{
  width: 80%;
}